ion-navbar.home {
    font-family: JuraDemiBold;
    color: $icon_text_color;
    ion-icon {
        vertical-align: middle;
        margin-right: 4px;
    }
    .text {
        vertical-align: middle;
    }
}

.home {
    scroll-content {
        display: flex;
        flex-direction: column;
    }
    .btn {
        width: 100%;
        margin: 14px 0 0 0;
        // height: calc((100vh - 118px - 47vw)/2);
        flex: 1 1 auto;
        justify-content: center;
        //background-color: $dd_green;
        color: $icon_text_color;
    }
    .logo {
        background-image: url("../../img/logo_digitalDoerfer.svg");
        background-repeat: no-repeat;
        background-size: contain;
        max-height: 47vw;
        flex: 1 1 auto;
        justify-content: center;
    }
    .placeholder {
        flex: 0.75 1 auto;
    }
}