# Dependency directories
node_modules/

# Platforms
platforms

# Plugins
plugins

# Build directory
www/build

# Lang directory
www/lang/

# Hooks
hooks

# Docs directory
docs

#coverage
test/reports

.DS_Store
Thumbs.db
.idea/
.vscode/
npm-debug.log