<!--
  Created by skaldo on 5.5.2016, UI for the stops.
  Generated template for the StopListPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>StopList</ion-title>
</ion-navbar>

<ion-content class="stop-list" *ngIf="display">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="{{'C.PullToRefresh' | translate}}" refreshingText="{{'C.Refreshing' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="searchText" (input)="onSearch($event)" (cancel)="onSearchCancel($event)" placeholder="{{'C.Search' | translate}}">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let stop of stops" (click)="goToStopDetail(stop)">
      <div class="line" item-right>
        <p *ngFor="let schedule of stop.getSchedules(3)" class="line line{{schedule.lineId}}">
          <span class="filled">{{schedule.lineId}}</span> {{schedule.arrivingTime.toDate() | date:'HH:mm'}}
        </p>
      </div>
      <h2>{{stop.name}}</h2>
      <p class="lines"><span *ngFor="let line of stop.getLines()" class="line line{{line}}">{{line}}</span></p>
    </ion-item>
  </ion-list>
</ion-content>
