// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/bus-detail/bus-detail";
@import "../pages/home/home";
@import "../pages/stop-detail/stop-detail";
@import "../pages/stop-list/stop-list";
@import "../pages/navigator/navigator";
@import "../pages/request-stop/request-stop";

@font-face {
    font-family: JuraLight;
    src: url(../fonts/Jura-Light.otf);
}
@font-face {
    font-family: Jura;
    src: url(../fonts/Jura-Regular.otf);
}
@font-face {
    font-family: JuraMedium;
    src: url(../fonts/Jura-Medium.otf);
}
@font-face {
    font-family: JuraDemiBold;
    src: url(../fonts/Jura-DemiBold.otf);
}

.ion-ios-digitaledoerfer,
.ion-md-digitaledoerfer {
  content: url(../../img/digitaledoerfer.svg);
  height: 35px;
}