// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import 'globals.core';

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #fff, // Use for: Navigation Bar, Action Buttons, Main Navigation
  primary2:   #66BFAC, // Use for: Secondary highlighting
  green:      #009374, // Use for: Item declarations (e.g. ideas)
  blue:       #33B8CA, // Use for: Item declarations (e.g. ideas)
  yellow:     #B1C800,    // Use for: Item declarations (e.g. ideas)
  red:        #C31D1D  // Use for: Alerts, critical actions
);

$dd_primary:    #1F82C0; // Use for: Navigation Bar, Action Buttons, Main Navigation
$dd_primary2:   #66BFAC; // Use for: Secondary highlighting
$dd_green:      #009374; // Use for: Item declarations (e.g. ideas)
$dd_blue:       #33B8CA; // Use for: Item declarations (e.g. ideas)
$dd_yellow:     #B1C800;    // Use for: Item declarations (e.g. ideas)
$dd_red:        #C31D1D; // Use for: Alerts, critical actions
$dd_background1:#F4F4F4;
$dd_background2:#C7CACC;


$lineColors: red, #0000FF, purple, green;

$icon_text_color: #fff;
$background-color: $dd_background1;
$button-font-size: 20px;

$toolbar-background: $dd_primary;
$toolbar-inactive-color: $icon_text_color;

$inputs-color: #fff;
$ion-navbar-search-text-color: $inputs-color;

$searchbar-ios-min-height: 0;
$searchbar-ios-input-text-color: $icon_text_color;
$searchbar-ios-input-search-icon-color: $icon_text_color;
$searchbar-ios-input-placeholder-color: $icon_text_color;
$toggle-ios-background-color-on: $dd_primary2;
$picker-ios-button-text-color: $dd_primary2;
$button-ios-color: $dd_green;

/*
$searchbar-md-input-background-color: inherit;
$searchbar-md-input-box-shadow: none;
$searchbar-md-input-text-color: $icon_text_color;*/
$picker-md-option-selected-color: $dd_primary2;
$picker-md-button-text-color: $dd_primary2;
$searchbar-md-input-search-icon-color: $icon_text_color;
$searchbar-md-input-placeholder-color: $icon_text_color;
$toggle-md-track-background-color-on: $dd_primary2;
$button-md-color: $dd_green;
$tab-md-hihlight-custom-color: $icon_text_color;

$toolbar-md-text-color: #fff;
$list-md-background-color: #fff;
$segment-button-md-text-color-activated: $dd_green;
$segment-button-md-border-color-activated: $dd_green;

/*
 * Edited by skaldo on the 5.5.2016 - added the Ui colors of the DD
 * project. Added mock colors for the lines.
 */