// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import 'globals.core';

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #1F82C0, // Use for: Navigation Bar, Action Buttons, Main Navigation
  primary2:   #66BFAC, // Use for: Secondary highlighting
  green:      #009374, // Use for: Item declarations (e.g. ideas)
  blue:       #33B8CA, // Use for: Item declarations (e.g. ideas)
  yellow:     #B1C800,    // Use for: Item declarations (e.g. ideas)
  red:        #C31D1D  // Use for: Alerts, critical actions
);


$lineColors: red, #0000FF, purple, green;

/*
 * Edited by skaldo on the 5.5.2016 - added the Ui colors of the DD
 * project. Added mock colors for the lines.
 */