<ion-view title="Bus information" id="page4">
    <ion-content padding="true" class="has-header">
        <div id="busInformation-markdown4" style="color:#000000;">
            <p>
                <strong>Type:</strong>Mercedenz-benz Bunny</p>

            <p>
                <strong>Seats:</strong>18</p>
        </div>
        <div>
            <img src="img/mxZ9fSlzTsOFu5yWsBeM_weilerbach.PNG" width="100%" height="" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <img src="img/O4FU4fJTi6ORBPQUnzc9_sandhaas1_160.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>