<ion-view title="Homescreen" hide-nav-bar="true" id="page3">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/HPbzcskST060cjrQ8W8S_final_digitalDoerfer-02.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="selectStop" id="homescreen-button4" class="button button-positive  button-block">Select stop</a>
        <a ui-sref="selectLineProposalNextIterations2" id="homescreen-button5" class="button button-positive  button-block">Where is the bus?</a>
    </ion-content>
</ion-view>