<ion-view title="Select stop" id="page1">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Search</span>
                <input type="text" placeholder="">
            </label>
            <ion-item ui-sref="sonnenstr">Isigny</ion-item>
            <ion-item ui-sref="sonnenstr">Sonnenstr.</ion-item>
            <ion-item ui-sref="sonnenstr">Falltor</ion-item>
            <ion-item ui-sref="sonnenstr">Busenhübel</ion-item>
            <ion-item ui-sref="sonnenstr">Ringstr.</ion-item>
            <ion-item ui-sref="sonnenstr">Schellenberger Str.</ion-item>
            <ion-item ui-sref="sonnenstr">Ipsumstr.</ion-item>
        </ion-list>
        <a ui-sref="sonnenstr" id="selectStop-button1" class="button button-positive  button-block">Use my location as a stop</a>
    </ion-content>
</ion-view>