<ion-view title="Sonnenstr." id="page2">
    <ion-content padding="true" class="has-header">
        <div id="sonnenstr-markdown3" style="color:#000000;">
            <p>
                <strong>Estimated arrival:</strong>11:52</p>

            <p>
                <strong>Available seats:</strong>5</p>
        </div>
        <div>
            <img src="img/VQrS2xlFScWEzadCXir5_weilerbach.PNG" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="busInformation" id="sonnenstr-button6" class="button button-positive  button-block">Detailed bus information</a>
        <button id="sonnenstr-button3" class="button button-positive  button-block">Request a stop</button>
    </ion-content>
</ion-view>