<!--
  Generated template for the RequestsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>{{ 'REQUESTS_PAGE.Title' | translate }}</ion-title>
</ion-navbar>

<ion-content padding class="requests">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="{{'C.PullToRefresh' | translate}}" refreshingText="{{'C.Refreshing' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="empty" id="noRequests">{{ 'REQUESTS_PAGE.NoRequests' | translate }}
    <p>{{'C.PullToRefresh' | translate}}</p>
  </div>
  <ion-card *ngFor="let request of requests" [ngSwitch]="request.state">
    <ion-card-header>
      ID: {{request.id}}
    </ion-card-header>
    <ion-card-content *ngSwitchCase="1">
      {{ 'REQUESTS_PAGE.State' | translate }}: {{ 'REQUESTS_PAGE.StatePending' | translate }}
    </ion-card-content>
    <ion-card-content *ngSwitchCase="2">
      {{ 'REQUESTS_PAGE.State' | translate }}: {{ 'REQUESTS_PAGE.StateAccepted' | translate }}
    </ion-card-content>
    <ion-card-content *ngSwitchCase="3">
      {{ 'REQUESTS_PAGE.State' | translate }}: {{ 'REQUESTS_PAGE.StateRejected' | translate }}
    </ion-card-content>
    <ion-card-content *ngSwitchCase="4">
      {{ 'REQUESTS_PAGE.State' | translate }}: {{ 'REQUESTS_PAGE.StateCompleted' | translate }}
    </ion-card-content>
    <ion-card-content *ngSwitchDefault></ion-card-content>
  </ion-card>
</ion-content>