<!--
  Generated template for the RequestsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>{{ 'REQUESTS_PAGE.Title' | translate }}</ion-title>
</ion-navbar>

<ion-content padding class="requests">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="{{'C.PullToRefresh' | translate}}" refreshingText="{{'C.Refreshing' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="empty" id="noRequests">{{ 'REQUESTS_PAGE.NoRequests' | translate }}
    <p>{{'C.PullToRefresh' | translate}}</p>
  </div>
  <ion-card *ngFor="let request of requests" [ngSwitch]="request.state" (click)="ionRequestActionSheet(request)">
    <ion-card-header>
      ID: {{request.id}} 
    </ion-card-header>
    <ion-card-content >
      <table>
        <tr><td>{{'REQUESTS_PAGE.Line' | translate}}: </td><td>{{request.lineId}}</td></tr>
        <tr><td>{{'REQUESTS_PAGE.Bus' | translate}}: </td><td>{{request.busId}}</td></tr>
        <tr><td>{{'REQUESTS_PAGE.Time' | translate}}: </td><td>{{request.pickUpTime.toDate() | date:'HH:mm'}}</td></tr>
        <tr *ngSwitchCase="1"><td>{{ 'REQUESTS_PAGE.State' | translate }}:</td><td>{{ 'REQUESTS_PAGE.StatePending' | translate }}</td></tr>
        <tr *ngSwitchCase="2"><td>{{ 'REQUESTS_PAGE.State' | translate }}:</td><td>{{ 'REQUESTS_PAGE.StateAccepting' | translate }}</td></tr>
        <tr *ngSwitchCase="3"><td>{{ 'REQUESTS_PAGE.State' | translate }}:</td><td>{{ 'REQUESTS_PAGE.StateRejected' | translate }}</td></tr>
        <tr *ngSwitchCase="4"><td>{{ 'REQUESTS_PAGE.State' | translate }}:</td><td>{{ 'REQUESTS_PAGE.StateCompleted' | translate }}</td></tr>
      <div *ngSwitchDefault></div>
      </table>
      
    </ion-card-content>
  </ion-card>
</ion-content>